.no-scroll {
    scrollbar-width: none;
}
.no-scroll::-webkit-scrollbar {
    display: none;
}
.hidden {
    display: none;
}
.paused {
    animation-play-state: paused;
}
.mirrored {
    transform: scaleX(-1);
}
