/* Ubuntu */
@font-face {
	font-family: "Ubuntu";
	font-display: fallback;
	src: url("fonts/ubuntu.ttf");
}
@font-face {
	font-family: "Ubuntu";
	font-weight: bold;
	font-display: italic;
	src: url("fonts/ubuntu-bold.ttf");
}
@font-face {
	font-family: "Ubuntu";
	font-style: italic;
	font-display: fallback;
	src: url("fonts/ubuntu-italic.ttf");
}
@font-face {
	font-family: "Ubuntu";
	font-style: italic;
	font-weight: bold;
	font-display: fallback;
	src: url("fonts/ubuntu-bold-italic.ttf");
}
/* Ubuntu Mono */
@font-face {
	font-family: "Ubuntu Mono";
	font-display: fallback;
	src: url("fonts/ubuntu-mono.ttf");
}
@font-face {
	font-family: "Ubuntu Mono";
	font-weight: bold;
	font-display: italic;
	src: url("fonts/ubuntu-mono-bold.ttf");
}
@font-face {
	font-family: "Ubuntu Mono";
	font-style: italic;
	font-display: fallback;
	src: url("fonts/ubuntu-mono-italic.ttf");
}
@font-face {
	font-family: "Ubuntu Mono";
	font-style: italic;
	font-weight: bold;
	font-display: fallback;
	src: url("fonts/ubuntu-mono-bold-italic.ttf");
}
