/* Reset default browser styles */
* {
	background: initial;
	border: initial;
	box-sizing: border-box;
	font: initial;
	margin: initial;
	padding: initial
}

/* Set page to full height */
html, body {
	height: 100%;
}
