/**
 * Style the basic HTML tags
 */

body {
    background: var(--bg);
    color: var(--txt-clr);
    font: var(--typeface);
    padding: 10px;
}

p {
    margin-block: var(--block-gap);
}

a {
    color: var(--link-clr);
}

ul {
    padding-left: 30px;
}

textarea,
input[type="text"] {
    background: white;
    font: 14px var(--mono);    
    resize: none;
}

hr {
    margin-block: 10px;
}

table {
    border-collapse: collapse;
}

fieldset {
    display: inline-block;
    border: var(--border);
    padding: revert;
}
legend {
    padding-inline: 2px;
}
