/**
 * Define the default custom properties to be used
 */

:root {
    --bg: black;
    --block-gap: 15px;
    --border: var(--border-width) solid var(--border-clr);
    --border-clr: white;
    --border-width: 1px;
    --font: Ubuntu, sans-serif;
    --link-clr: #0e0;
    --mono: Ubuntu Mono, monospace;
    --txt-clr: white;
    --typeface: 18px/20px var(--font);
}
